a {
    color:darkblue;
}

ion-button{
    --background: #ff8000;
}

ion-item{
    --backgroud: #3880ff;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

