ion-content {
    --background: none;
    background-image: url('../../assets/img/escuela.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

ion-card{
    --background: white;
}

a{
    color: #ff8800;
}
