<ion-header>
  <ion-toolbar>
    <ion-title>Canchas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  >
    <br>
    <br>
    <ion-slides pager="false" [options]="slideOpts">
      <ion-slide *ngFor="let g of gallery">
        <ion-card>
          <img [src]="g.img"/>
          <ion-card-header>
            <ion-card-subtitle>{{g.subtitle}}</ion-card-subtitle>
            <ion-card-title>{{g.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{g.content}}
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>

 
    <div text-center class="volver">
        <h4><b><a routerLink="/home">¡¡Volver!!</a></b></h4>
      </div>
   
  </ion-content>
